{% extends 'padre.html' %}

{% block contenido %}

    <h3>Detalle de Actor</h3>
    <h5>{{actor.nombre}} {{actor.apellido}}</h5>
    {% if actor.películas.exists %}
        <h6>Lista de películas del actor</h6>
        <ul>
            {% for pelicula in actor.películas.all %}
                <li>
                    <ul>
                        <li>
                            Título: {{pelicula.título}} 
                        </li>
                        <li>
                            Productora: {{pelicula.productora}} 
                        </li>
                        <li>
                            Director: {{pelicula.director.nombre}} {{pelicula.director.apellido}}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>El actor no tiene películas</p>
    {% endif %}
{% endblock contenido %}