{% extends 'padre.html' %}

{% block contenido %}

    <h3>Detalle de Director</h3>
    <h5>{{director.nombre}} {{director.apellido}}</h5>
    {% if director.película_set.exists %}
        <h6>Lista de películas del director</h6>
        <ul>
            {% for pelicula in director.película_set.all %}
                <li>
                    <ul>
                        <li>
                            Título: {{pelicula.título}} 
                        </li>
                        <li>
                            Productora: {{pelicula.productora}} 
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>El director no tiene películas</p>
    {% endif %}
{% endblock contenido %}