{% extends 'padre.html' %}
        
{% block contenido %}
    <ul>
        {% for critico in lista_criticos %}
            <li>
                {{critico}}
                <div>
                    <form action="{% url 'eliminarCritico' critico.id %}" method="post">{% csrf_token %}
                        <button type="submit">Elimiar</button>
                    </form>
                    <button>
                        <a href="{% url 'actualizarCritico' critico.id %}">Editar</a>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}