{% extends 'padre.html' %}

{% block contenido %}
        {% if lista_criticas %}
            <h3>Lista de críticas para {{lista_criticas.0.pelicula.título}}</h3>
            <ul>
            {% for critica in lista_criticas %}
                <li>
                    <ul>
                        <li>
                            Título:{{critica.titulo}}
                        </li>
                        <li>
                            Autor: {{critica.critico.nombre}} {{critica.critico.apellido}}
                        </li>
                    </ul>
                    <button>
                        <a href="{% url 'detalleCritica' critica.id %}">Ver Crítica</a>
                    </button>
                </li>
                <button>
                    <a href="{% url 'detallePeli' critica.pelicula.id %}">Volver a página de la película</a>
                </button>
                <button>
                    <a href="{% url 'lista_criticas' %}">Ver otras críticas</a>
                </button>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay críticas creadas</p>
        {% endif %}
{% endblock contenido %}