{% extends 'padre.html' %}

{% block contenido %}
    <ul>
        {% for director in lista_directores %}
            <li>
                {{director.nombre}} {{director.apellido}}
                <form action="{% url 'eliminarDirector' director.id %}" method="post">{% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
                <button>
                    <a href="{% url 'actualizarDirector' director.id %}">Editar</a>
                </button>
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}