{% extends 'padre.html' %}

{% block contenido %}
    <ul>
        {% for pelicula in lista_pelis %}
            <li>
                {{pelicula.título}}
                <form action="{% url 'eliminarPelicula' pelicula.id %}" method="post">{% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
                <button>
                    <a href="{% url 'actualizarPelicula' pelicula.id %}">Editar</a>
                </button>
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}