{% extends 'padre.html' %}

{% block contenido %}
    <ul>
        {% for critica in lista_criticas %}
        
        <h3>Lista de críticas para {{critica.pelicula.título}}</h3>
            <li>
                <button action="/app-Proyecto/pages/{{ critica.id }}/" class="link">Ver Crítica
                </button>
            </li>
            <button action="{% url 'detallePeli' critica.pelicula.id %}">Volver a página de la película
            </button>
            <button action="{% url 'lista_criticas_id' critica.pelicula.id %}">Ver otras críticas
            </button>
        {% endfor %}
    </ul>
{% endblock contenido %}