{% extends 'padre.html' %}

{% block contenido %}
    <h3>Resultado de la búsqueda</h3>

        {% if actores %}
            <p>Actores</p>
            <ul>
                {% for actor in actores %}
                <li>
                    {{actor.nombre}} {{actor.apellido}}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if directores %}
            <p>Directores</p>
            <ul>
                {% for director in directores %}
                <li>
                    {{director.nombre}} {{director.apellido}}
                </li>
                {% endfor %}
            </ul>
        {% elif peliculas %}
            <p>Películas</p>
            <ul>
                {% for pelicula in peliculas %}
                <li>
                    {{pelicula.título}} {{pelicula.año}}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock contenido %}